
<nav class="bar{{ ' '+navbarClass }}" role="navigation" id="navbar">
<div class="navbar-content">
	<div class="navbar-brand">
		<!--
		<a class="brand-icon delta" href="/">
			<span>DeltaThinkers</span>
		</a>
		-->
		<a class="brand-icon" href="/">
			<span>Fabrica</span>
		</a>
	</div>
	{% if user %}

	<ul class="navbar-navigation">
		<li {% if root == "new-service" %}class="active"{% endif %}>
			<a class="button" href="/novo">
				Novo Pedido
			</a>
		</li>
		<li {% if root == "files" %}class="active"{% endif %}>
			<a class="button" href="/arquivos">
				Arquivos
			</a>
		</li>
		<li {% if root == "account" %}class="active"{% endif %}>
			<a class="button" href="/conta">
				Sua Conta
			</a>
		</li>
	</ul>
	<ul class="navbar-navigation right">
		<li {% if root == "contact" %}class="active"{% endif %}>
			<a class="button" href="/contato">
				Fale Conosco
			</a>
		</li>
		<li id="ttip-bell" title="Notificações">
			<button id="nav-bell" class="icon-btn bell" data-action="show-notifications">
				<i class="icon-notifications"></i><sup class="count" data-info="unseen-notifs"></sup>
			</button>
		</li>
		<li class="nav-dropdown" id="ttip-dd-menu">
			<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle">
				<div class="right">
					<div class="name">
						{{ user.name|split(' ')|index(0) }}
					</div>
					<div class="company">
						{{ user.company.name }}
					</div>
				</div>
				<div class="avatarDd" style="background-image: url('{{ user.picture }}')">
				</div>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
				{% if user.flags.isStaff %}
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="/admin">
						<i class="icon-apps"></i> Administração
					</a>
				</li>
				{% endif %}
				<!--
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.feedbackForm }}">
						Relatar Problema
					</a>
				</li>
				-->
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="/conta">
						Alterar Informações
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ urls.logout }}" data-redirect-href="/">
						<i class="icon-exit-to-app"></i> Sair
					</a>
				</li>
			</ul>
		</li>
		<li title="Ajuda" {% if root == "help" %}class="active"{% endif %}>
			<a href="/ajuda" class="button">
				Ajuda
			</a>
		</li>
	</ul>
	{% else %}
	<ul class="right">
		<li>
			<a href="/entrar" class="button login">
				Entrar
			</a>
		</li>
	</ul>
	{% endif %}
</div>
</nav>