{% extends '../default.html' %}
{% set page = {
  tag: 'login_register',
} %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
  <a class="Logo" href="/">
    Fabrica
  </a><a class="Logo delta" href="/">
    DeltaThinkers
  </a>
  <h1>
    Registrar usuário
  </h1>
  <p>
    Já tem uma conta? <a href="/login">Entre por aqui.</a>
  </p>
  <div id="flash-messages" class="FlashWrapper"></div>
	<form class="SignupForm" method="post" action="">
    <input type="text" name="name" placeholder="Nome" />
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password1" placeholder="Senha" />
    <input type="password" name="password2" placeholder="Senha de novo (só pra confirmar)" />
    <input type="hidden" name="_csrf" value="{{ token }}" />
    <div class="base">
      <button class="form-btn">Criar</button>
    </div>
	</form>
  <footer>
  </footer>
</div>

{% development %}
  <script src="/static/js/dev.js"></script>
{% enddevelopment %}
{% production %}
  <script src="{{ assetUrl('js/prod.js') }}"></script>
{% endproduction %}

{% endblock %}