{% extends '../default.html' %}
{% set page = {
  tag: 'login',
} %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}

<div class="container">
  <a class="Logo" href="/">
    Fabrica
  </a><a class="Logo delta" href="/">
    DeltaThinkers
  </a>
  <h1>
    Perdeu a sua senha?
  </h1>
  <p>
    <strong>Escreva o seu email abaixo</strong> e vamos nós te mandaremos instruções de como recuperar a sua conta.
  </p>
  <div id="flash-messages" class="FlashWrapper"></div>
	<form class="LoginForm" method="post" action="">
		<input type="email" name="email" placeholder="Email" />
    <input type="hidden" name="_csrf" value="{{ token }}" />
    <div class="base">
      <button class="login">Recuperar</button>
      <div class="recover">
        <a href="/login">Voltar</a>
      </div>
    </div>
	</form>
  <footer>
  </footer>
</div>

{% development %}
  <script src="/static/js/dev.js"></script>
{% enddevelopment %}
{% production %}
  <script src="{{ assetUrl('js/prod.js') }}"></script>
{% endproduction %}

{% endblock %}