{% extends '../default.html' %}
{% set page = {
  tag: 'login_recover',
} %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
  <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
{% endblock %}

{% block body %}

<div class="container">
  <a class="Logo" href="/">
    Fabrica
  </a><a class="Logo delta" href="/">
    DeltaThinkers
  </a>
  <h1>
    Perdeu a sua senha?
  </h1>
  <p>
    <strong>Escreva o seu email abaixo</strong> e vamos nós te mandaremos instruções de como recuperar a sua conta.
  </p>
  <div id="flash-messages" class="FlashWrapper"></div>
	<form class="LoginRecoverForm" method="post" action="">
    <div class="form-group">
      <input type="email" name="email" placeholder="Email" />
    </div>
    <input type="hidden" name="_csrf" value="{{ token }}" />
    <div class="form-group captcha">
      <h3>
        Você é um ser humano?
      </h3>
      <p>
        <strong>Clique no quadrado abaixo</strong> se você não é robô.
      </p>
      <div class="g-recaptcha" data-sitekey="6LcRmAYTAAAAAGRDec3GfszuDCmwm4KPjV35KS1B"></div>
    </div>
    <div class="form-group base">
      <button class="form-btn">Recuperar</button>
      <div class="recover">
        <a href="/login">Voltar</a>
      </div>
    </div>
	</form>
  <footer>
  </footer>
</div>

{% development %}
  <script src="/static/js/dev.js"></script>
{% enddevelopment %}
{% production %}
  <script src="{{ assetUrl('js/prod.js') }}"></script>
{% endproduction %}

{% endblock %}