{% extends '../default.html' %}
{% set page = {
  tag: 'login_register',
  root: 'login',
} %}

{% block head %}
  <link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
  <a class="Logo" href="/">
    Fabrica
  </a><a class="Logo delta" href="/">
    DeltaThinkers
  </a>
  <h1>
    Recuperação de conta
  </h1>
  <p>
    Olá, <strong>{{ ruser.name|split(' ')|index(0) }}</strong><br />
    Escolha uma nova senha para usar a partir de agora.
  </p>
  <div id="flash-messages" class="FlashWrapper"></div>
  <form class="LoginForm" method="post" action="">
    <input type="password" name="password1" placeholder="Nova senha" />
    <input type="password" name="password2" placeholder="Nova senha de novo (só pra confirmar)" />
    <input type="hidden" name="_csrf" value="{{ token }}" />
    <div class="base">
      <button class="form-btn">Salvar</button>
    </div>
  </form>
  <footer>
  </footer>
</div>

{% development %}
  <script src="/static/js/dev.js"></script>
{% enddevelopment %}
{% production %}
  <script src="{{ assetUrl('js/prod.js') }}"></script>
{% endproduction %}

{% endblock %}