{% extends '../page.html' %}
{% set page = {
  tag: 'app',
  root: 'new-printjob',
} %}

{% block container %}

	<div class="container">
    <h1>Imprimina um Modelo</h1>
    <div id="form-wrapper"></div>
	</div>

  <script src="static/js/vendor/three.min.js"></script>
  <script src="static/js/vendor/stats.min.js"></script>
  <script src="static/js/vendor/three.STLLoader.js"></script>
  <script src="static/js/vendor/three.Detector.js"></script>
  <script src="static/js/vendor/three.TrackballControls.js"></script>

{% endblock %}