
[data-page=order] {
  background: fadeout(black, 45%);
  z-index: 60 !important;

  .component-box {
    .transition-transform(.4s, linear);

    & > .close-btn {
      position: fixed;
      top: 10px;
      right: 34px;
      font-weight: bold;
    }
  }

}

.OrderView {
  background: #FFF;
  padding: 30px;

  label {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .orderFields {

    label {
      margin-bottom: 0;
    }

    .value {
      font-size: 15px;
      display: block;
      width: 100%;
      // font-size: 18px;
      border: 1px solid rgba(0,0,0,.07);
      background: #FAFAFA;
      font-weight: 400;
      border-radius: 0;
      line-height: 1.5;
      padding: .5em .5em;
      font-size: 1.1em;
      font-family: museo-sans;

      color: #222;

      &:focus {
        .no-box-shadow;
        .transition;
        outline: 0;
        border: 1px solid #DDD;
      }

      &.invalid {
        border-color: fadeout(@CRED, 30%);
      }
    }

    textarea.value {
      &.invalid {
        border-color: fadeout(@CRED, 30%);
      }
    }

    textarea[disabled] {
      resize: none;
    }

    input[type=password].is-wrong {
      background: mix(@CRED, #DDD);
      &:focus {
        border-color: @CRED;
      }
    }

    .field {
      & > label {
        margin-bottom: 5px;
        display: block;
      }
      margin-bottom: 20px;
    }

    .field.statusField {
      .value {
        font-weight: 500;
        color: white;

        i {
          font-size: 20px;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -2px;
        }
      }

      .btn-group {

        & > button {
          margin: 0;
          border: 0;
          text-align: left;
          border-radius: 0;
          padding: .5em;
          font-size: 1.1em;
          border: 1px solid transparent;
          line-height: 1.5;
          color: white;
          text-transform: capitalize;
          font-weight: 700;
          border: 1px solid rgba(0,0,0,.1);

          &[data-status=waiting] { background: darken(#666, 5%); }
          &[data-status=cancelled] { background: darken(@CRED, 5%); }
          &[data-status=late] { background: darken(@CYELLOW, 5%); }
          &[data-status=processing] { background: darken(@CBLUE, 5%); }
          &[data-status=shipping] { background: darken(mix(@CGREEN, @CBLUE), 5%); }
          &[data-status=done] { background: darken(@CGREEN, 5%); }

          & > .caret {
            margin-left: 5px;
          }
        }
      }

    }

    .field.userField {
    }
  }

  .fileView {
    width: 450px;
  }

  button, .button {
    background: #EEE;
    margin: 10px 0;
  }

  .download {
    .xbtn(white, @CBLUE);
    font-size: 16px;
    padding: 8px 15px;
  }

  .STLRenderer {
    height: 400px;
    width: 375px;
  }
}
